 <nav class="navbar navbar-toggleable-md navbar navbar navbar-fixed-top bar">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">HomiEution</a>
    
      
        <form class="form-inline my-2 my-lg-0">
         
        </form>
        </nav>
    <div class="container-fluid">
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid register">
                <div class="row">
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">View Teacher</h3>
                                <div class="row register-form">
                                	<div class="col-md-2">
                                	</div>
                                	<div class="col-md-5">
                                		<input type="text" class="form-control subject" placeholder="First Name" value="" [(ngModel)]="data.firstName" />
                                		</div>
                                		<div class="col-md-5">
                                			<input type="submit" class="btnRegister btn-lg" (click)="search(data)" value="Search"/>
                                			</div>
                                		</div>
                                		<!-- <div class="row">
                                			<div class="col-md-4"> -->
                                				<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
        	<div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a Student</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value=""/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" value=""/>
                                        </div>
                                    </div>
                                    <div class="container">
                                    <table id="myTable" class=" table order-list">
    <thead>
        <tr>
            <td>Subject</td>
            <td>Previous Result</td>
            <td colspan="1" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block" id="addrow" value="Add Row" />
            </td>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                <input type="text" name="subject" class="form-control" />
            </td>
            <td>
                <input type="mail" name="previousResult"  class="form-control"/>
            </td>

        </tr>
    </tbody>
</table>
</div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
                      		



                        <!-- </div>
                                			</div> -->
                                		</div>
                                		
                    </div>
                </div>
            </div>      
    </div> <!-- ./container -->
   

<!------ Include the above in your HEAD tag ---------->

