<div style="text-align:center">
  
  
    <nav class="navbar navbar-toggleable-md navbar navbar-inverse navbar-fixed-top bar">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">HomiEution</a>
    
      
        <form class="form-inline my-2 my-lg-0">
         
        </form>
        
       
     
    </nav>
    
    <router-outlet></router-outlet>
    