
  
  
    <nav class="navbar navbar-toggleable-md navbar navbar navbar-fixed-top bar">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">HomiEution</a>
    
      
        <form class="form-inline my-2 my-lg-0">
         
        </form>
        </nav>
         <div class="container cont">
        	 <div class="card-columns">
  <div class="card btn btn-primary" (click)="onClick('/registerasteacher')">
    <div class="card-body text-center">
      <p class="card-text">REGISTER AS A TEACHER</p>
    </div>
  </div>
  <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">VIEW TEACHER PROFILE</p>
    </div>
  </div>
 <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">PUBLIC BLOGGING</p>
    </div>
  </div>
    <div class="card btn btn-primary" (click)="onClick('/registerasstudent')">
    <div class="card-body text-center">
      <p class="card-text">REGISTER AS STUDENT</p>
    </div>
  </div>
 <div class="card btn btn-primary" (click)="onClick('/searchteacher')">
   <div class="card-body text-center">
      <p class="card-text">SEARCH TEACHERS</p>
    </div>
  </div>

  <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">DISCUSSION FORUM</p>
    </div>
  </div>
  <div class="card btn btn-primary" (click)="onClick('/registerasparent')">
    <div class="card-body text-center">
      <p class="card-text">REGISTER AS PARENT</p>
    </div>
  </div>
  <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">RATE TEACHER</p>
    </div>
  </div>
  <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">COMMUNITY	</p>
    </div>
  </div>
</div>

        </div>
       
      
     

     
    
    
    <router-outlet></router-outlet>
    