
  
  <nav class="navbar">
  <div class="container-fluid">
    <div>
      <h3><a class="list" href="/main">HOMIEUTION</a></h3>
    </div>
    <ul class="navbar-right">
      </ul>
       <ul class="navbar-right">
      </ul>
       <ul class="navbar-right">
      </ul>
       <ul class="navbar-right">
      </ul>
       <ul class="navbar-right">
      </ul>
       <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
 <ul class="navbar-right">
      </ul>
      <ul class="navbar-right">
      <a class="list" href="/contactus">Contact Us</a>
      </ul>
       <ul class="navbar-right">
      <a class="list" href="#">Team</a>
    </ul> 
  </div>
</nav>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

         <div class="container cont">
        	 <div class="card-columns">
  <div class="card btn btn-primary" (click)="onClick('/registerasteacher')">
    <div class="card-body text-center">
      <p class="card-text">REGISTER AS TEACHER</p>
    </div>
  </div>
  <div class="card btn btn-primary" (click)="onClick('/viewteacher')">
    <div class="card-body text-center">
      <p class="card-text">VIEW TEACHER PROFILE</p>
    </div>
  </div>
 <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">PUBLIC BLOGGING</p>
    </div>
  </div>
    <div class="card btn btn-primary" (click)="onClick('/registerasstudent')">
    <div class="card-body text-center">
      <p class="card-text">REGISTER AS STUDENT</p>
    </div>
  </div>
 <div class="card btn btn-primary" (click)="onClick('/searchteacher')">
   <div class="card-body text-center">
      <p class="card-text">SEARCH TEACHERS</p>
    </div>
  </div>

  <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">DISCUSSION FORUM</p>
    </div>
  </div>
  <div class="card btn btn-primary" (click)="onClick('/registerasparent')">
    <div class="card-body text-center">
      <p class="card-text">REGISTER AS PARENT</p>
    </div>
  </div>
  <div class="card btn btn-primary" (click)="onClick('/rateateacher')">
    <div class="card-body text-center">
      <p class="card-text">RATE TEACHER</p>
    </div>
  </div>
  <div class="card btn btn-primary">
    <div class="card-body text-center">
      <p class="card-text">COMMUNITY	</p>
    </div>
  </div>
</div>

        </div>
       
      
     

     
    
    
    <router-outlet></router-outlet>
    